@model Flight

<form method="post">
    <input asp-for="Id" hidden />
    <h3>Delete booking</h3>
    <br />
    <div class="border form-group container-fluid">
        <div class="row">
            <div class="col-2">
                <label asp-for="Airline"></label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Airline" disabled />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label asp-for="Time"></label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Time" disabled />
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn btn-danger btn-block" value="Delete" />
            </div>
            <div class="col-6">
                <a class="btn btn-success btn-block" asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</form>